@charset "UTF-8";


input[type=radio]{
	display:none;
}
.period input:checked ~ span, .delivery_status input:checked ~ span {
    background-color: #000099;
  
    color: #fff;
    font-weight: 700;
}
.title  {
	padding-left: 16px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-36) var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal bold 16px/36px Noto Sans KR;
letter-spacing: 0px;
color: #000000;
	float: left;
	clear: left;
}.search_detail .period_box .calendarWrap {
    display: inline-block;
    margin-left: 14px;
    font-size: 12px;
}

.period_box{
	float: left;
	clear: left;
}
.mytmonCalendar    {
	display: contents;
	position: relative;
	float: left;
	clear: left;
}
.period_right #mytmon_search_calendarWrap .mytmonCalendar1 {
	float: right;
}

td,tr{
	padding-left: 4px;
	padding-right: 4px;
}
.on   {
	list-style-type: none;
}

.num_list  {
    display: flex;
    align-items: center;
   
    margin-right: 30px;
}
.prev   {
	background-image: url(url);
	margin-right:-16px;
}

.prev{font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-32) var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing--0-44);
color: var(--unnamed-color-707070);
text-align: center;
font: normal normal medium 22px/32px Noto Sans KR;
letter-spacing: -0.44px;
color: #707070;
opacity: 1;
	float: right;
	margin-top: -13px;
	    position: relative;
    left: -8px;
}
.next   {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-32) var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing--0-44);
color: var(--unnamed-color-707070);
text-align: center;
font: normal normal medium 22px/32px Noto Sans KR;
letter-spacing: -0.44px;
color: #707070;
opacity: 1;
	float: right;
	margin-top: -13px;
	    position: relative;
    left: -8px;
}
.next1   {
		font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-32) var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing--0-44);
color: var(--unnamed-color-707070);
text-align: center;
font: normal normal medium 22px/32px Noto Sans KR;
letter-spacing: -0.44px;
color: #707070;
opacity: 1;
	float: right;
	margin-top: 15px;
	    position: relative;
    left: -8px;
}

.pagination {
	font: Noto Sans KR;
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
	
    line-height: 1;
    position: relative;
    padding: 20px 0;
    vertical-align: middle;
}
.calendarText     {
	display: inline-block;
	position: relative;
	width: 130px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid #707070;
	vertical-align: middle;
	background-color: #fff;
	color: #707070;
	font-size: 12px;
	text-align: left;
	padding: 0 10px;
	padding-left: 15px;
	line-height: 37px;
	outline: 0;
	float: left;
	
}
.calendarText2     {
	display: inline-block;
	position: relative;
	width: 130px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid #707070;
	vertical-align: middle;
	background-color: #fff;
	color:#707070;
	font-size: 12px;
	text-align: left;
	padding: 0 10px;
	padding-left: 15px;
	line-height: 37px;
	outline: 0;
	float: right;
	
}

.calendarText1     {
	display: inline-block;
	position: relative;

	box-sizing: border-box;
	
}
.search_detail .period_box .period_left {
	float: left;
	clear: left;
}
td .period_left .f_color {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-29) var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-707070);
text-align: left;
font: normal normal medium 20px/29px Noto Sans KR;
letter-spacing: 0px;
color: #707070;
}

.search_detail .period_box .period_right {
	float: right;
}
.container.px-4.px-lg-5 .table_period {
	margin-bottom: 90px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 2px solid var(--unnamed-color-000099);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #000099;
opacity: 1;
}
.container.px-4.px-lg-5 .hr_username {
border: 1px solid var(--unnamed-color-000099);
border: 1px solid #000099;
opacity: 1;
}
.container.px-4.px-lg-5 .blank {
	margin-bottom: 40px;
}
.container.px-4.px-lg-5 .left_username {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-000000);
	text-align: left;
	font: normal normal bold 20px/44px Noto Sans KR;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	margin-bottom: -18px;
}





.container.px-4.px-lg-5 table .top_period {
	margin-top: 27px;
}
